## Importing Libraries

In [56]:
import numpy as np
import re
import pandas as pd

## Load tweets data

In [88]:
data=[]
with open('tweets.txt', 'r') as f:
    for line in f:
        data.append(line)

In [89]:
data

['France? 10 people dead after shooting at HQ.... of satirical weekly newspaper #CharlieHebdo!!!, not only according to witnesses www.t.co/FkYxGmuS58\n',
 'France: 10 people dead after shooting at HQ of satirical weekly newspaper #CharlieHebdo, according to witnesses http://t.co/FkYxGmuS58\n',
 '@euronews @TradeDesk_Steve A French crime of passion or another heathen moslem atrocity? @euronews LOL. 5 million Muslims in France, what a disgrace. the french worm president and politicians killed them. tine for croissants now\n',
 'MT @euronews France: 10 dead after shooting at HQ of satirical weekly #CharlieHebdo. If Zionists/Jews did this they&#39;d be nuking Israel\n',
 '@j0nathandavis They who? Stupid and partial opinions like this one only add noise to any debate. @nanoSpawn Socialists, Antisemites, anti zionists - usual suspects']

## Function to implement given set of features for each sentence

In [90]:
def populate_df(string,df):
    length=len(string.split())
    qm='Yes' if len(re.findall(r'\?',string)) else 'No'
    em='Yes' if len(re.findall(r'\!',string)) else 'No'
    period='Yes' if len(re.findall(r'\.+',string)) else 'No'
    url='Yes' if len(re.findall(r'(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})',string)) else 'No'
    neg='Yes' if len(re.findall(r'(n\'t|\sno\s|\snot\s|\snothing\s|\snever\s|\snone\s|\sneither\s|\snor\s)',string)) else 'No'
    ss= len(re.findall(r'[-!$%^&*()_+|~=`{}\[\]:";\'<>?,.\/]',string))
    
    df.loc[len(df)] = [length,qm,em,period,url,neg,ss]

## Populating Dataframe corresponding each sentence

In [91]:
df = pd.DataFrame(columns=['1','2a','2b','2c','2d','2e','3'])

In [92]:
for line in data:
    line = line.replace('\n','')
    populate_df(line,df)

In [93]:
df.head()

    1   2a   2b   2c   2d   2e   3
0  19  Yes  Yes  Yes  Yes  Yes  12
1  17   No   No  Yes  Yes   No   7
2  34  Yes   No  Yes   No   No   6
3  21   No   No  Yes   No   No   5
4  24  Yes   No  Yes   No   No   5